html, body{
  overflow-x: hidden;
}

body {
  font-family: 'Catamaran', Helvetica, sans-serif;
  color: 000000
}

h1 {
  font-family: 'Roboto Slab', Garamond, serif;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

h2 {
  font-family: Catamaran, Helvetica, sans-serif;
  color: 000000;
  font-size: 24px;
  font-weight: 300; 
}

h3, h4, h6 {
  font-family: Catamaran, Helvetica, sans-serif;
  color: 000000;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

h5 {
  font-family: Catamaran, Helvetica, sans-serif;
  color: 000000;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

p {
  font-family: Catamaran, Helvetica, sans-serif;
  color: 000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .4px;
  text-align: center; 
}

blockquote {
  font-family: Catamaran, Helvetica, sans-serif;
  color: 000000;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .3px;
  line-height: 21px;
  margin: 0;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  /*padding-left: 15px;
  padding-right: 15px;*/
  position: relative;
  top: 0;
}

.container:before,
.container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.one-half, .one-third, .one-fourth, .one-fifth {
  /*width:96%;*/
  width: 100%;
  float:left;
  position:relative;
  min-height: 1px;
  /*margin:0 2% 20px;*/
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
  #top-nav .one-half {
    width: 50%;
  }
  #pricing-ipad .one-third {
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 50%;
  }
  .one-third {
    width: 33.33333%;
  }
  .one-fourth {
    width: 25%;
  }
  .one-fifth {
    width: 20%;
  }
}

/*@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
  .one-fifth {
    width: 16%;
  }
}*/

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* HEADER */
header {
  height: 100vh;
  color: #FFFFFF;
  background-image: url(../images/herotop.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
}

@media (min-width: 600px) {
  header { height: 85vh; }
}

.colorhero {
  background: linear-gradient(180deg, rgba(254, 0, 146, 1) 0%, rgba(242, 14, 106, 1) 28.53%, rgba(231, 26, 70, 1) 59.11%, rgba(224, 33, 48, 1) 84.03%, rgba(222, 36, 40, 1) 100%);
  position: fixed;
  width: 100%;
  height: 85vh;
  z-index: 1;
}

@media (max-width: 600px) {
  .colorhero {
    height: 100vh;
  }
}

header nav {
  padding:2em 0;
}

@media (max-width: 600px) {
  header nav {
    margin-top: 20%;
  }
}

header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
  font-size: 14px;
}

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

header nav ul > li.btn-outline {
  padding:10px 40px;
  border:.5px solid #FFFFFF;
  border-radius:4px;
}

header nav ul > li.btn-outline:hover {
  background:#FFFFFF;
}

header nav ul > li.btn-no-outline {
  padding: 11px 41px;
  border-radius: 4px;
  margin-right: 8px;
}

header nav ul > li.btn-no-outline:hover {
  background:#FFFFFF;
}

header nav ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
}

header nav ul > li.btn-outline:hover > a {
  color: #fe0092
}

header nav ul > li.btn-no-outline:hover > a {
  color: #fe0092
}



header .site-logo img {
  display: block;
  float: left;
}

@media (max-width: 600px) {
  header .site-logo img {
    float: none;
  }
  header h2 br {
    display: none;
  }
}

header .hero {
  text-align: center;
  display: block;
  position: relative;
}

@media (max-width: 600px) {
  header .hero {
    padding: 0 7%;
  }
}

header .hero h1 {
  font-size: 48px;
  margin-top: 8%;
}

@media (max-width: 800px) {
  header .hero h1 {
    margin-top: 24%;
  }
}

@media (max-width: 600px) {
  header .hero h1 {
    margin-top: 0%;
  }
}

@media (max-width: 400px) {
  header .hero h1 {
    margin-top: 0;
    font-size: 46px;
  }
}


header .hero h2 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: .5px;
  font-weight: 100;
  padding-bottom: 30px;
}

@media (max-width: 400px) {
  header .hero h2 {
    font-size: 21px;
    line-height: 30px;
    padding-bottom: 14px;
  }
}

header > img {
  position: absolute;
  width: 100%;
  top: -16%;
}



/*@media tv (min-width: 1280px) {
  header .hero h1 {
    font-size: 78px
  }
  header .hero h2 {
    font-size: 46px;
    line-height: 55px;
    letter-spacing: .7px;
  }
}*/


@media (max-width: 600px) {
  .sign-in-up {
    display: none;
  }
}

/* BUTTONS */
.btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   letter-spacing: .5px;
   text-decoration: none;
   padding: 10px 30px;
   background: #4ac0bc;
   box-shadow: 2px 2px 5px 0px rgba(86, 31, 46, 0.68);
   display: block;
   width: 180px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
}

.btn:hover {
  background: #FFFFFF;
  color: #fe0092;
}

.btn-mobile-sign-in {
  border-radius: 4px;
  color:#FFFFFF;
  letter-spacing: .5px;
  text-decoration: none;
  padding: 10px 30px;
  display: none;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: .5px solid #fff;
  font-weight: 100;
}

@media (max-width: 600px) {
  .btn-mobile-sign-in {
    display: block;
  }
}


/* NAVBAR */
nav {
  display: block;
  position: relative;
  z-index: 2;
  top: 85vh;
}

nav .navbar {
  position: relative;
  width: 100%;
  height: 15vh;
  background-color: #FFFFFF;
  padding-top: 16px;
  top: 0;
  z-index: 2;
}

nav ul {
  text-align: center;
  float: center;
  padding-left: 0;
}

nav ul > li {
  list-style-type: none;
  text-align: center;
  color: #b1b1b1
}

nav ul > li > a {
  text-decoration: none;
  color: #b1b1b1;
  font-size: 14px;
  letter-spacing: .5px;
}

nav .fa {
  font-size: 31px;
  padding-bottom: 12px;
}

nav .navbar .container {
  width: 1024px;
  padding-left: 40px;
}

@media (max-width: 1050px) {
  nav .navbar .container {
    width: 700px;
    padding-left: 20px;
  }
}

nav .navbar .one-fifth {
  display: inline-block;
  width: 19%;
}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }
}


/* MAIN */
main {
  display: block;
  z-index: 1000;
  position: relative;
  top: 85vh;
}

@media (max-width: 600px) {
  main {
    top: 100vh;
  }
}

.benefits-gray {
  width: 100%;
  background: linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(252, 252, 252, 1) 100%);
  height: 85vh;
}

.benefits-img-left {
  margin-top: 22%;
  margin-left: 25%;
  position: relative;
  width: 360px;
  height: 360px;
  background: white;
  box-shadow: 0px 0px 15px 1px rgba(204, 201, 202, 0.68);
}

.benefits-img-left img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#clipboard {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 3px;
  left: 7px;
  right: 0;
  margin: auto;
}

.benefits-text-right {
  margin-top: 27%;
  width: 75%;
}

@media (max-width: 800px) {
  .benefits-text-right {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }
}

.benefits-text-right p {
  text-align: left;
}

.benefits {
  width: 100%;
  display: block;
  position: relative;
}

.benefits img {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  vertical-align: top;
}

.benefits div {
  display: inline-block;
  position: relative;
  width: 70%;
}

.benefits-white {
  width: 100%;
  background: white;
  height: 85vh;
}


.benefits-text-left {
  margin-top: 21%;
  width: 75%;
  position: relative;
  float: right;
}

.benefits-text-left p {
  text-align: left;
}

.benefits-left {
  width: 100%;
  display: block;
  position: relative;
}


.benefits-left img {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  vertical align: top;
}

.benefits-img-right {
  margin-top: 22%;
  margin-left: 10%;
  position: relative;
  width: 360px;
  height: 360px;
}

.benefits-img-right img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 3px;
  left: 7px;
  right: 0;
  margin: auto;
}

.laptop {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 2%;
}

/*.laptop img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

.laptop h1, p, img {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.laptop h1 {
  margin-top: 0;
}

.color-bottom-hero {
  background: linear-gradient(180deg, rgba(254, 0, 146, 1) 0%, rgba(242, 14, 106, 1) 28.53%, rgba(231, 26, 70, 1) 59.11%, rgba(224, 33, 48, 1) 84.03%, rgba(222, 36, 40, 1) 100%);
  position: relative;
  width: 100%;
  height: 85vh;
}

@media (max-width: 800px) {
  .color-bottom-hero {
    height: 51vh;
  }
}

.pricing .container {
  width: 1074px;
}

@media (max-width: 800px) {
  .pricing .container {
    width: 700px;
  }

}
.pricing {
  height: 85vh;
  color: #FFFFFF;
  background-image: url(../images/herobottom.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  top: 0;
}

@media (max-width: 800px) {
  .pricing {
    height: 51vh;
  }
}

.pricing-box {
  width: 340px;
  height: 450px;
  background: rgba(134, 0, 66, .4);
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  position: relative;

}

@media (max-width: 800px) {
  .pricing-box {
    width: 220px;
    height: 424px;
  }
}

.pricing-box h3 {
    text-align: center;
    padding-top: 16%;
    letter-spacing: 10px;
    left: 0;
    right: 0;
    top: 0;
    text-indent: 10px;
    font-size: 13px;
}

@media (max-width: 800px) {
  .pricing-box h3 {
    letter-spacing: 6px;
  }
}

.pricing-box h4 {
    text-align: center;
    font-size: 80px;
    margin-top: 6px;
}

#casual {
    font-size: 50px;
    margin-top: 18px;
    line-height: normal;
}

.pricing-box h4 span {
  font-size: 25px;
  vertical-align: middle;
}

.pricing-box h4 .month {
  font-weight: 200;
}

.pricing-box ul {
  text-align: center;
  font-weight: 200;
  text-decoration: none;
  padding: 0;
}

.pricing-box ul li {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: .25px;
}

.pricing-box .btn {
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    text-align: center;
}

@media (max-width: 800px) {
  .pricing-box .btn {
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: 123px;
  }
}


